<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car Data Search</title>
    <link rel="stylesheet" href="/site.css" />
  </head>
  <body>
    <header>
      <h1>Car Data Search</h1>
    </header>
    <main>
      <section class="search">
        <form id="searchForm">
          <div class="range-container">
            <input
              type="text"
              id="searchOdometerLower"
              class="range-input"
              placeholder="Odometer from"
            />
            <span class="range-dash">&ndash;</span>
            <input
              type="text"
              id="searchOdometerUpper"
              class="range-input"
              placeholder="Odometer to"
            />
          </div>

          <button type="submit">Find</button>
          <button type="reset" id="resetButton">Reset</button>
          <div class="summary-link-container">
            <a href="/" class="summary-link button">Back to Home Page</a>
          </div>

        </form>
      </section>
      <section class="car-list">
        <div class="results-container">
          <div id="carList"></div>
        </div>
      </section>
    </main>
    <footer>
      <img src="./car.png" alt="Car" id="carImage" />
    </footer>

    <script src="/javascript/odometer.js"></script>
  </body>
</html>